* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #504c5c;
  }
  
  .logo {
    font-size: 1.8rem;
    color: #4c4c4c;
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    /* border: 2px solid black; */
    position: fixed;
    width: 30%;
    top: 5rem;
    left: 38px;
    background-color: rgb(30, 25, 19);
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    font-size: 11px;
    padding: 2px 0;
    color: rgb(255, 255, 255);
  }
  .upper-section{
    min-height: 600px;
    background-image: url(banner-img.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
  }
  .upper-section h1{
    padding: 0;
    text-align: right;
    font-weight: bold;
    color: #42181a;
    font-size: 50px;
    float: right;
    width: 647px;
    margin: 60px 60px 0 -95px;
    border-top: 3px solid #2E0103;
    padding-top: 11px;
  }
  
  .nav__link a:hover {
    color: rgb(44, 32, 32);
  }
  
  .hide {
    display: none;
  }
  .number{
    display: flex;
  }
  .number h2 ,span{
    font-size: 15px;
    color: #fff;
    padding: 5px 10px;
    /* margin: 0; */
 }
 .number img{
  width: 80px;
  /* border-radius: 50%; */
 }
 .call-div{
  background-color: #852066;
  border-radius: 10px 0px 0 10px;
 }
 .client-logo{
  background-image: url(image\ logo.png);
  height: 80px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
 }


  @media(max-width:1000px) {
    .nav__link a:nth-child(even){
      display: none;
    }
  }
  @media screen and (min-width: 1000px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right:20px;
      background: none;
      margin-left: 292px;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 5px;
    }
  
    .hamburger {
      display: none;
    }
  }